:root {
  --color: yellow;
}

@font-face {
  font-family: "idle-gaming";
  src: url(fonts/idle-gaming.ttf);
  font-style: normal;
}

@keyframes cursor-blink {
  100% {
    opacity: 0;
  }
}

* {
  background-color: #1e293b;
  font-family: "idle-gaming";
}

/* container styling */

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 15fr 1fr;
}

.inner-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* header / footer styling */

.header,
.footer {
  grid-column: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: rgb(229, 229, 229);
}

.header {
  font-size: 2rem;
}

.footer {
  font-size: 0.7rem;
}

/* inner container styling */

.right-side,
.left-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* calculator styling */

.calculator {
  border: 4px solid #212833;
  height: 400px;
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgb(229, 229, 229);
}

.calc-screen {
  height: 75px;
  padding: 5px;
  background-color: #212833;
  color: white;
  display: flex;
  flex-direction: column;
}

.current-value,
.prev-equation {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #212833;
}

.clear-btn {
  grid-column: 1 / 3;
}

.delete-btn {
  grid-column: 3 / 5;
}

.all-btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 300px;
  gap: 10px;
  margin-top: 10px;
  background-color: rgb(229, 229, 229);
  font-size: 1rem;
}

.all-btns > button {
  border: 4px solid #212833;
  color: #212833;
}

.all-btns > button:active {
  background-color: black;
  color: white;
}

#cursor::after {
  content: "";
  width: 10px;
  height: 1rem;
  background: var(--color);
  display: inline-block;
  animation: cursor-blink 1s steps(2) infinite;
}

.cursor-box {
  display: flex;
}
